@font-face {
    src: url("fonts/Gotham Bold.otf");
    font-family: gothb;
}

@font-face {
    src: url("fonts/Gotham Book.otf");
    font-family: gothbk;
}

@font-face {
    src: url("fonts/Gotham Thin.otf");
    font-family: goth;
}

@font-face {
    src: url("fonts/Menlo-Regular.woff");
    font-family: menlo;
}

@font-face {
    src: url("fonts/canela_bold.otf");
    font-family: canera;
}
@font-face {
    src: url("fonts/Candara.ttf");
    font-family: cand;
}

ul, ol{
    list-style: none;
}

.mt-70{
    margin-top: 120px;
}

.upper_box{
    margin-top: 10px;
    box-shadow: 1px 1px 1px lightgrey;
}

.fixed-menu{
    background-color: #FFFFFF;
    position: fixed;
    top: 0px;
    height: 70px;
    width: 100%;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    z-index: 10;
}

.menu{
    padding-top: 15px;
    height: 100%;
}



/*search button start*/

.search_btn{
    position: relative;   /* new */
    font-size: 13px;
    margin-right: 240px;
}
.search_input{
    padding-left: 55px !important;
    font-family: gothbk;

}

.icon_btn1{
    position: absolute;
    top: 12px;
    left: 15px;
    z-index: 5;
    color: #37A000;
}

.icon_btn2{
    position: absolute;
    top: 12px;
    left: 35px;
    z-index: 5;
    color: #37A000;
}
/*search button end*/

/*menu start*/
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

.nav li{
    position: relative;
}

.nav li:hover .inner_nav{
    display: block;
}

.nav li .inner_nav{
    padding: 10px;
    background-color: #F9F9F9;
    position: absolute;
    top: 60px;
    /* left: 0px; */
    display: none;
    flex-direction: column;
    justify-content: left;
    width: 220px;
}

.nav li .inner_nav:before{
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    background-color: blue;
    top: -17px;
    left: 10px;
}

.inner_nav h6{
    font-size: 13px;
    font-weight: 500;
    margin-left: 8px;
}

.nav li .inner_nav li a{
    display: block;
    padding: 5px 10px;
    color: black;
    font-weight: normal;
    font-size: 12px;
}

.nav a{
    color: #757575;
    font-size: 13px;
    font-family: gothbk;
    font-weight: 700;
}

.menu a:hover{
    text-decoration: none;
    color: #37A000;
}

/*New css added*/
.nav-link{
    color: #757575 !important;
    font-size: 13px !important;
    font-family: gothbk;
    font-weight: 700 !important;
}
.sign_button{
    background: #37A000 !important;
    color: white !important;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

.navbar-brand{
    height: 40px;
    width: 90px;
}

/*menu end*/

/*floating menu start*/
#navbar {
    background-color: #FFFFFF;
    position: fixed;
    margin-top: 55px;
    width: 100%;
    height: 55px;
    transition: top 0.3s;
    z-index: 1;
}

#navbar a {
    padding: 15px 31px;
    color: #222222;
    font-size: 13px;
    font-family: gothbk;
    font-weight: 400;
}

#navbar a:hover {
    text-decoration: underline;
    color: #37A000;
}
/*floating menu end*/

/*Intro section start*/
.intro{
    margin-top: 110px;
    height: 500px;
    background-image: url("images/bg2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding: 100px 0;
}
.intro_button1{
    background-color: #37A000!important;
    color: white !important;
}
.intro_button2{
    border: 1px solid #DDDDDD !important;
    color: #37A000 !important;
}

.intro_items h1{
    color: #6FDA44;
    font-family: cand;
    font-weight: 700;
    font-size: 55px;
}

.intro_items p{
    color: white;
    font-size: 16px;
    width: 35%;
    font-family: gothbk;
}

.intro_info{
    margin-top: 20px;
    color: white;
}
/*Intro section end*/

/*Find agencies section start*/
.agencies{
    background-color: #F9F9F9 ;
}
/*Find agencies section end*/

/*Hire section start*/
.hire{
    background-color:#F9F9F9 ;
}
.hire_h6{
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
}

.box1 h4, .box2 h4, .box3 h4{
    font-size: 14px;
    font-weight: bold;
}
.box1 p, .box2 p, .box3 p{
    font-size: 13px;
}

.inner_box{
    background-color: white;
    border: 1px solid #E0E0E0;
    padding: 15px;
}

.inner_box ul li{
    width: 33.33%;
    padding: 15px;
    border-right: 1px solid #E0E0E0;
}
.inner_box ul li:last-child{
    border-right: none;
}

.inner_box span{
    background-color: #5BBC2E;
    width: 31px;
    height: 7px;
    display: block;
}
/*Hire section end*/

/*Works section start*/
.how{
    font-family: gothb;
}
.work_img{
    height: 100px;
}

.work_body h5{
    font-size: 15px;
    font-family: gothbk;
    font-weight: bold;
}
.work_body p{
    font-size: 13px;
    font-family: gothbk;
}
/*Works section end*/

/*Pricing section start*/
.choose h2{
    font-family: gothb;
}
.choose p{
    font-size: 13px;
    font-family: gothbk;
    color: #6A6565;
}
.pricing {
    background-color:#F9F9F9;
}

.pricing .card {
    height: 100%;
    width: 70%;
    border: none;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    font-size: 16px;
    letter-spacing: .1rem;
    margin-bottom: 30px;
    padding-top: 20px;
    font-family: gothb;
}

.pricing .card-price {
    font-size: 15px;
    margin: 0;
    font-family: gothbk;
    font-weight: bold;
}

.pricing .card-price .period {
    font-size: 0.8rem;
    color: #656565;
    font-weight: normal;
}

.pricing ul li {
    margin-bottom: 1rem;
    font-family: gothbk;
    font-size: 13px;
}
.pricing ul li span, .pricing ul a{
    color: #008329;
    font-family: gothbk;
}

.pricing .btn {
    background: #37A000;
    color: white;
    font-family: gothbk;
    font-size: 14px;
    line-height: 1;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
    margin: 0 20px 30px 60px;
    text-align: center;
}
.pricing .btn:hover{
    background: #008329;
    color: white;
}
/*Pricing section end*/

/*Rating section start*/
.brand_img{
    margin-bottom: 20px;
}
.rating_text, .rating_text:hover{
    color: #7F7F7F;
    text-decoration: none;
    font-family: gothbk;
    font-weight: bold;
}
.rating_text span{
    color: #222222;
}
.rating_text .review{
    color: #D5763D;
}
/*Rating section end*/

/*Video section start*/
.video_section{
    background-color: #494949;
}

.left_item h2{
    color: white;
    font-size: 35px;
    font-family: gothb;
}

.left_item h5{
    color: #A0A0A0;
    font-size: 15px;
    font-family: gothbk;
    font-style: italic;
}
.left_item p{
    color: #A0A0A0;
    font-size: 12px;
}

.ceo_img{
    width: 50%;
    border-radius: 50%;
}
/*Video section end*/

/*Skills section start*/
.skill_item a{
    text-decoration: none;
    color: #222222;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 300;
    font-family: gothbk;
}
.skill_item a:hover{
    color: #37A000;
}

.skill_header{
    font-size: 18px;
    font-family: gothbk;
    font-weight: bold;
    margin: 10px 0;
}

.browse_btn{
    color: #37A000 !important;
    margin: 0 20px 30px 0 !important;
    font-size: 14px !important;
    box-shadow: 0px 0px 10px lightgrey !important;
    border-radius: 2px !important;
    font-family: gothbk;
    font-weight: bold !important;
    width: 20%;
    padding: 15px !important;
}

.demo{
    box-shadow: 0px 0px 10px lightgrey;
    padding: 30px;
}
.demo_content p{
    margin: 0;
    font-size: 15px;
    color: #37A000;
    font-family: gothbk;
    font-weight: 500;
}
.demo_content h2{
    margin: 0;
    font-weight: bold;
    line-height: 44px;
    font-family: cand;
}
.demo_btn{
    height: 20px;
    font-size: 14px;
    padding: 12px 29px;
    font-family: gothbk;
    border-radius: 2px;
}
.demo_btn:hover{
    text-decoration: none;
}
/*Skills section end*/

/*Footer start*/
.footer_section{
    background-color: #1D4354;
}
.footer_hr{
    background: #2B5468;
    height: 1px;
}

.footer_icons{
    display: flex;
    align-items: center;
}

.role{
    display: inline-block;
    line-height: 15px;
    color: white;
    font-family: gothb;
    font-size: 12px;
}
.social_list{
    margin-bottom: 0rem;
}
.social_list li{
    display: inline-block;
    margin: 0 10px 0 0;
    font-family: gothbk;
}

.social_list li a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    background: #2b5468;
}

.copyright_text{
    line-height: 21px;
    margin: 30px 0;
    color: white;
    text-align: center;
    font-family: gothbk;
}
/*Footer end*/